/* 

:root {
    --clr-base: #303031;
    --clr-base-dark: #000;
    --clr-title: #121214;
    --clr-att: #2169fc;
    --clr-att-second: #0029ff;
    --clr-light: #e4e4e;
    --main-padding: 12.8rem;
    --second-padding: 6.4rem;
    --main-radius: 1.6rem;
    --main-shadow: 3px 5px 24px rgba(45, 47, 64, .08);
    --main-shadow-hover: 4px 12px 24px rgba(0, 0, 0, .24), 0.5px 0.5px 0px rgba(0, 0, 0, .5);
    --min: 320px;
    --max: 1300px;
    --paddingContainer: 15px;
    font-size: 10px
}


*/
/* common classes */
:root {
  --medium-padding: 128px;
  --medium-padding: 8rem;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-24 {
  margin-bottom: 38.4px !important;
  margin-bottom: 2.4rem !important;
}
.mb-32 {
  margin-bottom: 51.2px !important;
  margin-bottom: 3.2rem !important;
}
.mb-48 {
  margin-bottom: 76.8px !important;
  margin-bottom: 4.8rem !important;
}
.mb-44 {
  margin-bottom: 70.4px !important;
  margin-bottom: 4.4rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-24 {
  margin-top: 38.4px !important;
  margin-top: 2.4rem !important;
}
.mt-32 {
  margin-top: 51.2px !important;
  margin-top: 3.2rem !important;
}
.mt-48 {
  margin-top: 76.8px !important;
  margin-top: 4.8rem !important;
}
.mt-44 {
  margin-top: 70.4px !important;
  margin-top: 4.4rem !important;
}
.text-dark {
  color: var(--clr-base-dark);
}
.lh-15 {
  line-height: 1.5;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-mainPadding {
  padding-bottom: var(--main-padding) !important;
}
.pt-mainPadding {
  padding-top: var(--main-padding) !important;
}
.pb-secondPadding {
  padding-bottom: var(--second-padding) !important;
}
.pt-secondPadding {
  padding-top: var(--second-padding) !important;
}
.pb-mediumPadding {
  padding-bottom: var(--medium-padding) !important;
}
.pt-mediumPadding {
  padding-top: var(--medium-padding) !important;
}
.w-400 {
  font-weight: 400 !important;
}
.w-700 {
  font-weight: bold !important;
}
.w-600 {
  font-weight: 600 !important;
}
.w-500 {
  font-weight: 500 !important;
}
.max-560 {
  max-width: 23.33333333em;
}
/* end common classes */
/* header styles */
.wrap-1184 {
  max-width: 1184px !important;
  margin-left: auto;
  margin-right: auto;
}
.wrap-1117 {
  max-width: 1117px !important;
  margin-left: auto;
  margin-right: auto;
}
.inner-wrap.wrap-1184 {
  max-width: calc(1184px + var(--paddingContainer) + var(--paddingContainer)) !important;
}
.inner-wrap.wrap-1117 {
  max-width: calc(1117px + var(--paddingContainer) + var(--paddingContainer)) !important;
}
.header.header-new .inner-wrap {
  max-width: 1300px;
}
.header.header-new .logo-wrap {
  width: 137px;
}
.header.header-new .action-wrap .btn {
  padding: 0 20px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
}
.header.header-new .popup-menu-wrap .menu {
  -ms-flex-pack: center;
      justify-content: center;
  position: static;
}
.header.header-new .popup-menu-wrap .menu > li .btn-submenu {
  padding-right: 40px;
}
.header.header-new .popup-menu-wrap .menu > li .btn-submenu.submenu-active {
  padding-right: 40px;
  background: #C9CBCE;
  color: #000;
}
.header.header-new .popup-menu-wrap .menu > li .btn-submenu.submenu-active:after {
  transform: rotate(180deg);
}
.header.header-new .popup-menu-wrap .menu > li .btn-submenu:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/arrow-menu.svg) center no-repeat;
  filter: brightness(0) grayscale(1);
  background-size: 100% auto;
  top: 50%;
  right: 20px;
  margin: -12px -12px 0 0;
  transition: all ease 0.2s;
}
.header.header-new .popup-menu-wrap .menu li {
  position: static;
}
.popup-menu-wrap .menu-inner-wrap {
  margin: 0 auto;
  max-width: 1138px;
  display: -ms-flexbox;
  display: flex;
}
.popup-menu-wrap .menu-inner-wrap:not(:hover) .menu-att {
  background-color: #f8f8f8;
}
.popup-menu-wrap .menu-wrap {
  padding: 51.2px 51.2px 35.2px 51.2px;
  padding: 3.2rem 3.2rem 2.2rem 3.2rem;
  width: 27.6%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  transition: all ease 0.2s;
}
.popup-menu-wrap .menu-wrap:hover {
  background: #F8F8F8;
}
.popup-menu-wrap .menu-main {
  width: 44.8%;
}
.popup-menu-wrap .menu-main .submenu {
  columns: 2;
  column-gap: 20px;
}
.popup-menu-wrap .menu-main .submenu li {
  break-inside: avoid-column;
}
.popup-menu-wrap .btn-submenu.submenu-active ~ .submenu-inner-wrap {
  display: block;
}
.popup-menu-wrap .submenu-inner-wrap {
  animation: fadein ease 0.2s;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100dvw;
  margin-left: -50dvw;
  z-index: 100;
  background: #fff;
}
.popup-menu-wrap .submenu-inner-wrap .submenu {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.popup-menu-wrap .submenu-inner-wrap .submenu li {
  margin: 0;
  padding: 0;
}
.popup-menu-wrap .submenu-inner-wrap .submenu li:before {
  display: none;
}
.popup-menu-wrap .submenu-inner-wrap .submenu a {
  display: block;
  padding: 9px 0;
  color: #575759;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.32px;
  white-space: normal;
  height: auto;
}
.popup-menu-wrap .submenu-inner-wrap .submenu a:hover,
.popup-menu-wrap .submenu-inner-wrap .submenu a.active {
  color: #0029FF;
  text-decoration: underline;
}
.popup-menu-wrap .menu-title {
  display: block;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.48px;
  margin-bottom: 14px;
}
.popup-menu-wrap .menu-title a:not(:hover) {
  color: inherit;
}
.popup-menu-wrap .actions-wrap {
  display: none;
}
.popup-menu-wrap .btn-popup-close {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}
@media (max-width: 1023px) {
  .header.header-new .action-wrap {
    display: none;
  }
  .header.header-new .action-wrap.popup-lang-wrap {
    display: block;
  }
  .header.header-new .popup-menu-wrap .js-btn-toggle.active + .js-popup-block {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header.header-new .popup-menu-wrap .popup-content-block {
    display: none;
    -ms-flex-direction: column;
        flex-direction: column;
    position: fixed;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: #fff;
    width: 100%;
    padding: 0;
    box-shadow: none;
  }
  .header.header-new .popup-menu-wrap .menu {
    max-width: 100%;
    width: 100%;
    -ms-flex: 1;
        flex: 1;
    padding: 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .header.header-new .popup-menu-wrap .menu::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .header.header-new .popup-menu-wrap .menu > li .btn-submenu:after {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: -2px 0 0 5px;
    display: inline-block;
    vertical-align: middle;
  }
  .header.header-new .popup-menu-wrap .menu > li .btn-submenu {
    padding-right: 10px;
  }
  .header.header-new .popup-menu-wrap .menu > li .btn-submenu.submenu-active {
    padding-right: 10px;
  }
  .popup-menu-wrap .submenu-inner-wrap {
    position: static;
    width: 100%;
    margin: 0;
    background: none;
    padding: 0;
    text-align: left;
  }
  .popup-menu-wrap .menu a {
    white-space: normal;
    height: auto;
    line-height: 1.1;
    padding: 10px 10px;
  }
  .popup-menu-wrap .actions-wrap {
    display: block;
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
    margin: 0;
    width: 100%;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }
  .popup-menu-wrap .actions-wrap .action-wrap {
    display: block;
    padding: 0 10px 20px 10px;
    margin: 0 0 10px 0;
  }
  .popup-menu-wrap .actions-wrap .action-wrap:last-child {
    margin-bottom: 0;
  }
  .popup-menu-wrap .actions-wrap .action-wrap .btn,
  .popup-menu-wrap .actions-wrap .action-wrap a {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    font-size: 14px;
    -ms-flex-pack: center;
        justify-content: center;
    border-radius: 5px;
  }
  .popup-menu-wrap .btn-popup-close {
    display: block;
  }
}
@media (max-width: 767px) {
  .popup-menu-wrap .menu-title {
    font-size: 16px;
  }
  .popup-menu-wrap .submenu-inner-wrap .submenu a {
    font-size: 14px;
    padding: 5px 0;
  }
}
@media (max-width: 639px) {
  .popup-menu-wrap .menu-inner-wrap {
    display: block;
  }
  .popup-menu-wrap .menu-wrap {
    width: 100%;
  }
  .popup-menu-wrap .menu-wrap .submenu {
    columns: 3;
    column-gap: 20px;
  }
}
@media (max-width: 479px) {
  .popup-menu-wrap .menu-wrap .submenu {
    columns: 2;
    column-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .header.header-new .popup-menu-wrap .menu > li > a {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    transition: all ease 0.2s;
  }
  .popup-menu-wrap .submenu-inner-wrap {
    box-shadow: 0px 30px 24px 0px rgba(0, 0, 0, 0.25);
  }
}
/* end header styles */
/* items styles 1111 */
.item-tile-plan.tile-second {
  padding: 12px 38.4px;
  padding: 12px 2.4rem;
}
.item-tile-plan.tile-second .tile-title-wrap:last-child {
  margin-bottom: 0;
}
.item-tile-plan.tile-second .tile-title {
  padding-top: 0;
  font-weight: 500;
}
.item-tile-plan.tile-second .tile-subtitle {
  padding-top: 0;
  margin-top: 10px;
  font-weight: 400;
}
.item-tile-plan.tile-second .tile-subtitle:last-child {
  margin-bottom: 0;
}
.item-tile-plan .tile-price-att {
  display: inline;
  color: #6EEDFF;
  font-weight: bold;
  font-size: 1.5em;
}
.item-tile-btc-icon-info {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.4;
  color: #303031;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
}
.item-tile-btc-icon-info .tile-ico {
  width: 88px;
  width: 5.5rem;
  height: 83.2px;
  height: 5.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-btc-icon-info .tile-info-wrap {
  padding-left: 38.4px;
  padding-left: 2.4rem;
}
.item-tile-btc-icon-info .tile-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 83.2px;
  min-height: 5.2rem;
  font-size: 51.2px;
  font-size: 3.2rem;
  line-height: 1.25;
  font-weight: bold;
  letter-spacing: -0.64px;
  color: var(--clr-base-dark);
  margin-bottom: 8px;
}
.item-tile-commited-info {
  text-align: center;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--clr-base-dark);
  max-width: 13.125em;
  margin: 0 auto;
}
.item-tile-commited-info .tile-ico {
  margin: 0 auto 9px auto;
  height: 100.8px;
  height: 6.3rem;
  width: 100%;
}
.item-tile-commited-info .tile-title {
  font-weight: bold;
  line-height: 1.17;
  margin: 0 0 8px 0;
  color: #1D1D1F;
}
.item-tile-data-info {
  display: block;
  position: relative;
  min-height: 100%;
  border-radius: 2.4rem;
  background: #DDE5ED;
  padding: 51.2px 38.4px;
  padding: 3.2rem 2.4rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.4;
  color: #151516;
}
.item-tile-data-info.tile-center {
  text-align: center;
  background-color: #F0F2F6;
  padding: 76.8px 51.2px;
  padding: 4.8rem 3.2rem;
}
.item-tile-data-info.tile-center .tile-ico {
  height: 83.2px;
  height: 5.2rem;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}
.item-tile-data-info .tile-title {
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.item-tile-data-info .tile-ico {
  width: 128px;
  width: 8rem;
  height: 128px;
  height: 8rem;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}
.item-tile-ag-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 10%;
  border-radius: 2.4rem;
  background: #F0F2F6;
  padding: 51.2px 38.4px;
  padding: 3.2rem 2.4rem;
  min-height: 100%;
}
.item-tile-ag-info .tile-title {
  display: block;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.375;
  font-weight: bold;
  margin-bottom: 51.2px;
  margin-bottom: 3.2rem;
  color: #151516;
}
.item-tile-ag-info .tile-photo {
  border-radius: 2rem;
  aspect-ratio: 257/193;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.elm-zero {
  width: 281.6px;
  width: 17.6rem;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: url(../img/icons/star.svg) center / 100% auto no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  padding: 0 22.4px;
  padding: 0 1.4rem;
  font-size: 70.4px;
  font-size: 4.4rem;
  font-weight: bold;
  color: var(--clr-base-dark);
  transform: rotate(10deg);
  line-height: 1;
}
.item-tile-price-icon-info {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--clr-base-dark);
  text-align: center;
}
.item-tile-price-icon-info .tile-ico {
  width: 153.6px;
  width: 9.6rem;
  height: 153.6px;
  height: 9.6rem;
  border-radius: 50%;
  background: #3176DE;
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-price-icon-info .tile-ico img,
.item-tile-price-icon-info .tile-ico svg {
  width: 66.66%;
  filter: brightness(0) invert(1);
}
.item-tile-price-icon-info .tile-title {
  display: block;
  margin: 12px 0 0 0;
}
.item-tile-tarif-icon-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 100%;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.16666667;
  font-weight: bold;
  text-align: left;
  padding: 24px 16px 24px 25.6px;
  padding: 24px 1rem 24px 1.6rem;
  border-radius: 12px;
  border: 1px solid #DDDFE3;
  background: #fff;
}
.item-tile-tarif-icon-info .tile-title {
  display: block;
  padding-left: 25.6px;
  padding-left: 1.6rem;
}
.item-tile-tarif-icon-info .tile-ico {
  width: 89.6px;
  width: 5.6rem;
  height: 89.6px;
  height: 5.6rem;
  border-radius: 50%;
  background: #3176DE;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-tarif-icon-info .tile-ico img,
.item-tile-tarif-icon-info .tile-ico svg {
  filter: brightness(0) invert(1);
  max-width: 67%;
}
.item-tile-crypto-info {
  display: block;
  position: relative;
  min-height: 100%;
  padding: 51.2px 38.4px;
  padding: 3.2rem 2.4rem;
  text-align: center;
  border-radius: 2.4rem;
  background: #F3F5F8;
  color: #000;
}
.item-tile-crypto-info:hover {
  color: #000;
}
.item-tile-crypto-info .tile-ico {
  width: 153.6px;
  width: 9.6rem;
  height: 153.6px;
  height: 9.6rem;
  border-radius: 50%;
  background: #2169FC;
  margin: 0 auto 51.2px auto;
  margin: 0 auto 3.2rem auto;
}
.item-tile-crypto-info .tile-title {
  display: block;
  margin: 0;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.item-tile-crypto-info .tile-title a:not(:hover) {
  color: inherit;
}
.item-tile-term-inner {
  display: block;
  min-height: 100%;
  border-radius: 16px;
  background: #303031;
  padding: 38.4px;
  padding: 2.4rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: hidden;
}
.item-tile-term-inner .tile-title {
  display: block;
  font-size: 1.2em;
  line-height: 1.33333333;
  color: #fff;
  margin: 0 0 11px 0;
  font-weight: bold;
}
.item-tile-term-inner .tile-ico {
  width: 48px;
  height: 48px;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}
.item-tile-coin-select {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.32px;
  text-align: left;
  border-radius: 16px;
  background: #fff;
  padding: 38.4px 16px;
  padding: 2.4rem 16px;
}
.item-tile-coin-select .tile-title-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}
.item-tile-coin-select .tile-title-wrap a:not(:hover) {
  color: inherit;
}
.item-tile-coin-select .tile-title {
  display: block;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.4px;
}
.item-tile-coin-select .tile-subtitle {
  display: block;
  margin-top: 4px;
  color: #575759;
  letter-spacing: -0.32px;
}
.item-tile-coin-select .tile-ico {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
}
.item-tile-coin-select .tile-title-inner {
  -ms-flex: 1;
      flex: 1;
  padding: 0 0 0 12px;
}
.tile-select-dropdown-wrap {
  display: block;
  position: relative;
  border: 1px solid #DDDFE3;
  line-height: 1;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
}
.tile-select-dropdown-wrap .tile-content-block {
  display: none;
  padding: 4px 0;
  position: relative;
}
.tile-select-dropdown-wrap .tile-content-block:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  right: 12px;
  height: 1px;
  background: #DDDFE3;
}
.tile-select-dropdown-wrap .tile-button-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 4px 12px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #000;
  cursor: pointer;
}
.tile-select-dropdown-wrap .tile-button-menu:hover {
  color: #000;
}
.tile-select-dropdown-wrap .tile-button-title {
  -ms-flex: 1;
      flex: 1;
  padding: 0 10px 0 0;
}
.tile-select-dropdown-wrap .tile-button-info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: bold;
}
.tile-select-dropdown-wrap .tile-button-select {
  display: block;
  line-height: 48px;
  height: 48px;
  width: 100%;
  padding: 0 30px 0 12px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  color: #000;
  cursor: pointer;
}
.tile-select-dropdown-wrap .tile-button-select:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/arrow-menu.svg) center no-repeat;
  background-size: 20px auto;
  top: 50%;
  right: 20px;
  margin: -12px -12px 0 0;
  opacity: 0.5;
  transition: all ease 0.2s;
}
.tile-select-dropdown-wrap .tile-button-select.active:before {
  transform: rotate(180deg);
}
.tile-select-dropdown-wrap .tile-info-att {
  color: #00BB31;
}
.tile-select-dropdown-wrap .menu {
  margin: 0;
}
.tile-select-dropdown-wrap .menu li {
  margin: 0;
  padding: 0;
}
.tile-select-dropdown-wrap .menu li:before {
  display: none;
}
.list-marker li {
  padding-left: 1.33333333em;
  position: relative;
}
.list-marker li:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  top: 0.75em;
  left: 0.66666667em;
  margin-top: -2px;
  margin-left: -2px;
}
@media (max-width: 1199px) {
  .item-tile-term-inner {
    font-size: 1.8rem;
  }
}
@media (max-width: 1023px) {
  .item-tile-data-info {
    padding: 2.4rem 15px;
  }
  .item-tile-data-info.tile-center {
    padding: 2.4rem 15px;
  }
  .item-tile-ag-info {
    padding: 2.4rem 0;
  }
  .item-tile-ag-info .tile-title {
    font-size: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .item-tile-ag-info .tile-photo {
    width: calc(100% - 0px);
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 639px) {
  .item-tile-btc-icon-info {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  .item-tile-btc-icon-info .tile-ico {
    margin: 0 auto 12px auto;
  }
  .item-tile-btc-icon-info .tile-info-wrap {
    padding-left: 0;
    text-align: center;
  }
  .item-tile-btc-icon-info .tile-title {
    text-align: center;
    display: block;
    min-height: 0;
  }
}
/* end items styles */
/* content styles 2222 */
.main-questions-box.bg-dark {
  color: #fff;
}
.main-questions-box.bg-dark .item-tile-question {
  color: #fff;
}
.main-questions-box.bg-dark .item-tile-question .btn-popup {
  color: #fff;
}
.main-questions-box.bg-dark .item-tile-question .btn-popup:before {
  filter: brightness(0) invert(1);
}
.main-apps-info-box.bg-dark .box-inner-wrap {
  background-color: #313133;
}
.main-apps-info-box.bg-dark .action-title {
  color: #fff;
}
.main-apps-info-box.bg-dark .action-qr:before,
.main-apps-info-box.bg-dark .action-qr:after {
  background-color: #DDDFE3;
}
.main-apps-info-box.bg-dark .btn-action-qr {
  background-color: transparent;
}
.main-apps-info-box.bg-dark .btn-action-more {
  text-align: left;
}
.help-menu-box {
  background: #000 url(../img/help.jpg) center / cover no-repeat;
  text-align: center;
  margin: 0;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.help-menu-box .top-inner-wrap {
  padding-bottom: 153.6px;
  padding-bottom: 9.6rem;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.help-menu-box .bottom-inner-wrap {
  display: block;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.help-menu-box .inner-wrap {
  width: 100%;
  max-width: 100%;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 153.6px;
  padding-top: 9.6rem;
  padding-bottom: 153.6px;
  padding-bottom: 9.6rem;
}
.help-menu-box .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -9.6px;
  margin: 0 -0.6rem;
}
.help-menu-box .menu li {
  padding: 0 9.6px;
  padding: 0 0.6rem;
  margin-bottom: 19.2px;
  margin-bottom: 1.2rem;
  width: 284.8px;
  width: 17.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.help-menu-box .btn-menu {
  display: block;
  position: relative;
  text-align: left;
  min-height: 100%;
  transition: all ease 0.2s;
  border-radius: 12px;
  background: #F3F5F8;
  padding: 32px;
  padding: 2rem;
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: bold;
  color: var(--clr-base-dark);
  letter-spacing: -0.32px;
}
.help-menu-box .btn-menu:hover {
  color: var(--clr-att);
}
.help-menu-box .btn-menu .button-ico {
  width: 76.8px;
  width: 4.8rem;
  height: 76.8px;
  height: 4.8rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  border-radius: 50%;
  background: rgba(0, 71, 187, 0.1);
}
.help-menu-box .btn-menu .button-ico img,
.help-menu-box .btn-menu .button-ico svg {
  max-width: 100%;
  max-height: 100%;
}
.help-menu-box .info-title {
  display: block;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}
.help-menu-box .main-actions-qr-wrap {
  -ms-flex-pack: center;
      justify-content: center;
}
.help-menu-box .main-actions-qr-wrap .btn-action-more {
  color: #fff;
}
.help-menu-box .main-actions-qr-wrap .btn-action-more:before {
  filter: brightness(0) invert(1);
}
.main-section-plan-box.section-three-cols .item-wrap {
  width: 230px;
}
.main-section-plan-box.section-three-cols .item-tile-plan .tile-action-wrap .btn {
  width: 100%;
  padding: 0 15px;
  min-width: 0;
}
.main-section-plan-box.section-three-cols .item-tile-plan .tile-title.title-small {
  font-size: 1.5em;
}
.main-section-plan-box.section-three-cols .item-tile-plan .tile-price {
  font-size: 44.8px;
  font-size: 2.8rem;
  margin-top: 70.4px;
  margin-top: 4.4rem;
}
.main-section-plan-box.section-three-cols .item-tile-plan .tile-price .price-unit {
  font-size: 0.64285714em;
}
.main-section-plan-box.section-three-cols .item-tile-plan .tile-price .title-gradient {
  font-size: 1em;
}
.main-section-plan-box.section-three-cols .item-tile-plan .tile-action-wrap {
  margin-top: 10px;
}
.main-section-plan-box.section-three-cols table {
  border-spacing: 16px 0;
  border-collapse: separate;
  table-layout: fixed;
  width: calc(100% + 16px);
  margin-left: -8px;
}
.main-section-plan-box.section-three-cols table .col02,
.main-section-plan-box.section-three-cols table .col03,
.main-section-plan-box.section-three-cols table .col04 {
  width: 214px;
}
.main-section-plan-box.section-three-cols table th,
.main-section-plan-box.section-three-cols table td,
.main-section-plan-box.section-three-cols table th:last-child,
.main-section-plan-box.section-three-cols table td:last-child {
  background: none;
  padding: 25.6px;
  padding: 1.6rem;
  height: 51.2px;
  height: 3.2rem;
  font-size: 28.8px;
  font-size: 1.8rem;
  line-height: 1.33333333;
  width: auto;
  min-width: 0;
}
.main-section-plan-box.section-three-cols table th:first-child,
.main-section-plan-box.section-three-cols table td:first-child {
  width: auto;
  min-width: 0;
}
.main-section-plan-box.section-three-cols table .btn {
  padding: 0 15px;
  width: 100%;
  min-width: 0;
  margin: 10px 0;
}
.main-section-plan-box table .td-att {
  background-color: #f7f8ff !important;
  font-weight: 600;
}
.main-section-plan-box .main-title-wrap > *:last-child {
  margin-bottom: 0;
}
.main-section-plan-box.bg-dark {
  color: #fff;
}
.main-section-plan-box.bg-dark .tabs-inner-wrap a {
  color: #fff;
  opacity: 0.7;
}
.main-section-plan-box.bg-dark .tabs-inner-wrap a.active,
.main-section-plan-box.bg-dark .tabs-inner-wrap a:hover {
  opacity: 1;
  color: #fff;
}
.main-section-plan-box.bg-dark .tbl-inner-wrap {
  background-color: #313133;
}
.main-section-plan-box.bg-dark .tbl-outer-wrap {
  border-color: #313133;
  background-color: #313133;
}
.main-section-plan-box.bg-dark .tbl-outer-wrap table th,
.main-section-plan-box.bg-dark .tbl-outer-wrap table td {
  color: inherit;
  border-color: #575759;
  background-color: transparent;
}
.main-section-plan-box.bg-dark .tbl-outer-wrap table tr:last-child th:last-child,
.main-section-plan-box.bg-dark .tbl-outer-wrap table tr:last-child td:last-child {
  background-color: transparent;
}
.main-section-plan-box.bg-dark .more-wrap .btn.button-border:not(:hover) {
  border-color: #fff;
  color: #fff;
}
.main-section-plan-box.bg-dark .item-tile-plan {
  background: #313133;
  border-color: #313133;
  color: inherit;
}
.main-section-plan-box.bg-dark .item-tile-plan .tile-title,
.main-section-plan-box.bg-dark .item-tile-plan .tile-subtitle {
  color: inherit;
}
.section-commited-box .items-wrap {
  margin: 0 -19.2px -112px -19.2px;
  margin: 0 -1.2rem -7rem -1.2rem;
}
.section-commited-box .item-wrap {
  padding: 0 19.2px;
  padding: 0 1.2rem;
  margin-bottom: 112px;
  margin-bottom: 7rem;
  width: 33.33%;
}
.section-commited-box .main-action-wrap {
  text-align: center;
}
.section-commited-box .main-title-wrap {
  font-weight: 400;
  color: var(--clr-base-dark);
}
.section-commited-box .btn.button-large {
  font-size: 16px;
  font-weight: 400;
  width: 512px;
  width: 32rem;
}
.section-ag-tiles-box .main-actions-qr-wrap,
.section-data-tiles-box .main-actions-qr-wrap {
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -16px;
  margin-right: 0;
}
.section-ag-tiles-box .main-actions-qr-wrap .action-button,
.section-data-tiles-box .main-actions-qr-wrap .action-button {
  margin-right: 0;
}
.section-ag-tiles-box .items-wrap,
.section-data-tiles-box .items-wrap {
  margin: 0 -8px -16px -8px;
}
.section-ag-tiles-box .item-wrap,
.section-data-tiles-box .item-wrap {
  padding: 0 8px;
  margin-bottom: 16px;
  width: 25%;
}
.section-ag-tiles-box .main-action-wrap,
.section-data-tiles-box .main-action-wrap {
  text-align: center;
}
.section-ag-tiles-box .btn.button-large,
.section-data-tiles-box .btn.button-large {
  font-size: 16px;
  font-weight: 400;
  width: 512px;
  width: 32rem;
}
.section-info-text-box {
  text-align: center;
}
.section-info-text-box .btn.button-large {
  font-size: 16px;
  font-weight: 400;
  width: 512px;
  width: 32rem;
}
.section-info-text-box .text-body {
  font-weight: 400;
}
.section-info-text-box p {
  margin-left: auto;
  margin-right: auto;
}
.section-price-icons-box .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.section-price-icons-box .info-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  padding-left: 51.2px;
  padding-left: 3.2rem;
}
.section-price-icons-box .items-inner-wrap {
  width: 50%;
  padding: 0 51.2px 0 0;
  padding: 0 3.2rem 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section-price-icons-box .items-outer-wrap {
  background: #DDE5ED;
  border-radius: 3.2rem;
  padding: 147.2px 64px 89.6px 64px;
  padding: 9.2rem 4rem 5.6rem 4rem;
  position: relative;
}
.section-price-icons-box .items-wrap {
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -19.2px -48px -19.2px;
  margin: 0 -1.2rem -3rem -1.2rem;
}
.section-price-icons-box .item-wrap {
  width: 192px;
  width: 12rem;
  padding: 0 19.2px;
  padding: 0 1.2rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.section-price-icons-box .elm-zero {
  position: absolute;
  top: -160px;
  top: -10rem;
  left: 128px;
  left: 8rem;
}
.section-price-icons-box .btn.button-large {
  font-size: 16px;
  font-weight: 400;
}
.section-tarif-info-box .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.section-tarif-info-box .info-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  padding: 0 64px 0 0;
  padding: 0 4rem 0 0;
}
.section-tarif-info-box .items-inner-wrap {
  width: 896px;
  width: 56rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 3.2rem;
  padding: 88px 41.6px;
  padding: 5.5rem 2.6rem;
  background: #DDE5ED;
}
.section-tarif-info-box .items-inner-wrap.bg-clear {
  background: none;
}
.section-tarif-info-box .items-inner-wrap.bg-clear .item-tile-tarif-icon-info {
  color: #fff;
  background: linear-gradient(108deg, #111584 0%, #8178EB 100%);
}
.section-tarif-info-box .items-inner-wrap.bg-clear .item-tile-tarif-icon-info .tile-ico {
  background: #fff;
}
.section-tarif-info-box .items-inner-wrap.bg-clear .item-tile-tarif-icon-info .tile-ico img,
.section-tarif-info-box .items-inner-wrap.bg-clear .item-tile-tarif-icon-info .tile-ico svg {
  filter: none;
}
.section-tarif-info-box .items-wrap {
  margin: 0 -19.2px -48px -19.2px;
  margin: 0 -1.2rem -3rem -1.2rem;
  -ms-flex-align: center;
      align-items: center;
}
.section-tarif-info-box .item-wrap {
  padding: 0 19.2px;
  padding: 0 1.2rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  width: 50%;
}
.section-tarif-info-box .item-wrap .elm-photo {
  max-width: 190px;
  margin: 0 auto;
}
.section-tarif-info-box .btn.button-large {
  font-size: 16px;
  font-weight: 400;
}
.section-crypto-tiles-box .inner-wrap,
.section-terms-box .inner-wrap,
.section-coins-box .inner-wrap {
  padding-top: 128px;
  padding-top: 8rem;
  padding-bottom: 128px;
  padding-bottom: 8rem;
}
.section-crypto-tiles-box .main-title-wrap,
.section-terms-box .main-title-wrap,
.section-coins-box .main-title-wrap {
  margin-bottom: 51.2px;
  margin-bottom: 3.2rem;
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 500;
}
.section-crypto-tiles-box .main-title-wrap .h3-title,
.section-terms-box .main-title-wrap .h3-title,
.section-coins-box .main-title-wrap .h3-title {
  margin-bottom: 51.2px;
  margin-bottom: 3.2rem;
}
.section-crypto-tiles-box .items-wrap {
  margin: 0 -4px -8px -4px;
}
.section-crypto-tiles-box .item-wrap {
  padding: 0 4px;
  margin-bottom: 8px;
  width: 16.66%;
}
.section-crypto-tiles-box .main-more-wrap {
  margin-top: 76.8px;
  margin-top: 4.8rem;
}
.section-crypto-tiles-box .main-title-wrap {
  margin-bottom: 76.8px;
  margin-bottom: 4.8rem;
}
.section-terms-box .main-title-wrap {
  margin-bottom: 76.8px;
  margin-bottom: 4.8rem;
}
.section-terms-box .main-title-wrap .h4-title {
  margin-bottom: 76.8px;
  margin-bottom: 4.8rem;
  line-height: 1.33333333;
}
.section-terms-box .main-buttons-wrap {
  margin-top: 76.8px;
  margin-top: 4.8rem;
}
.section-terms-box .items-wrap {
  margin: 0 -8px -16px -8px;
}
.section-terms-box .item-wrap {
  width: 25%;
  padding: 0 8px;
  margin-bottom: 16px;
}
.section-coins-box {
  color: #000;
}
.section-coins-box .main-title-wrap {
  color: #000;
}
.section-coins-box .items-wrap {
  margin: 0 -4px -8px -4px;
}
.section-coins-box .item-wrap {
  width: 16.66%;
  margin-bottom: 8px;
  padding: 0 4px;
}
.main-top-box .info-inner-wrap .items-wrap {
  margin: 0;
}
.main-top-box .info-inner-wrap .item-wrap {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  padding: 0;
  width: 100%;
}
.main-top-box .info-inner-wrap .item-wrap:last-child {
  margin-bottom: 0;
}
.main-top-box .inner-text-light {
  color: #575759;
  font-weight: 500;
}
.main-top-box .info-text-wrap {
  display: block;
  position: relative;
  border-radius: 3.2rem;
  line-height: 1.5;
  color: #fff;
  background: linear-gradient(108deg, #111584 0%, #8178EB 100%);
  padding: 76.8px;
  padding: 4.8rem;
  min-height: 896px;
  min-height: 56rem;
}
.main-top-box .info-text-wrap .h1-title,
.main-top-box .info-text-wrap .h2-title,
.main-top-box .info-text-wrap .h3-title {
  color: inherit;
  margin-bottom: 51.2px;
  margin-bottom: 3.2rem;
}
.main-top-box .info-text-wrap .inner-text-green {
  color: #C8F808;
}
.main-top-box .info-text-wrap .inner-text-green a {
  color: inherit;
}
.main-top-box .info-text-wrap .inner-text-green a:hover {
  color: #fff;
}
.main-top-box.section-iban-interest,
.main-top-box.section-photos,
.main-top-box.section-payment-methods {
  line-height: 1.5;
  color: #000;
}
.main-top-box.section-iban-interest .inner-wrap,
.main-top-box.section-photos .inner-wrap,
.main-top-box.section-payment-methods .inner-wrap {
  padding-top: 128px;
  padding-top: 8rem;
  padding-bottom: 128px;
  padding-bottom: 8rem;
}
.main-top-box.section-iban-interest .photo-inner-wrap,
.main-top-box.section-photos .photo-inner-wrap,
.main-top-box.section-payment-methods .photo-inner-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
.main-top-box.section-iban-interest .h3-title,
.main-top-box.section-photos .h3-title,
.main-top-box.section-payment-methods .h3-title,
.main-top-box.section-iban-interest .h2-title,
.main-top-box.section-photos .h2-title,
.main-top-box.section-payment-methods .h2-title {
  max-width: 11.16071429em;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
.main-top-box.section-iban-interest p,
.main-top-box.section-photos p,
.main-top-box.section-payment-methods p,
.main-top-box.section-iban-interest .h3-title,
.main-top-box.section-photos .h3-title,
.main-top-box.section-payment-methods .h3-title,
.main-top-box.section-iban-interest ul,
.main-top-box.section-photos ul,
.main-top-box.section-payment-methods ul,
.main-top-box.section-iban-interest .h2-title,
.main-top-box.section-photos .h2-title,
.main-top-box.section-payment-methods .h2-title,
.main-top-box.section-iban-interest h2,
.main-top-box.section-photos h2,
.main-top-box.section-payment-methods h2,
.main-top-box.section-iban-interest h3,
.main-top-box.section-photos h3,
.main-top-box.section-payment-methods h3 {
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
  color: inherit;
}
.main-top-box.section-iban-interest .title-wrap:last-child,
.main-top-box.section-photos .title-wrap:last-child,
.main-top-box.section-payment-methods .title-wrap:last-child {
  margin-bottom: 0;
}
.main-top-box.section-iban-interest li,
.main-top-box.section-photos li,
.main-top-box.section-payment-methods li {
  margin-bottom: 12px;
}
.main-top-box.section-iban-interest li:last-child,
.main-top-box.section-photos li:last-child,
.main-top-box.section-payment-methods li:last-child {
  margin-bottom: 0;
}
.main-top-box.section-payment-methods {
  color: #fff;
}
.main-top-box.section-payment-methods .btn.button-pay {
  height: 83.2px;
  height: 5.2rem;
  border-radius: 16px;
  padding: 0 12px;
  background: #FFC72C;
  border: none;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  min-width: 0;
  margin-right: 4px;
  margin-bottom: 4px;
}
.main-top-box.section-payment-methods .btn.button-pay:hover {
  color: #000;
  background: #ffe08b;
}
.main-top-box.section-payment-methods .h3-title,
.main-top-box.section-payment-methods .h2-title {
  max-width: 10em;
}
.main-top-box.section-payment-methods p {
  margin-bottom: 12px;
}
.main-top-box.section-payment-methods .photo-inner-wrap {
  max-width: 896px;
  max-width: 56rem;
}
.main-top-box.section-payment-methods .btn.button-large {
  margin-top: 12px;
}
.main-top-box.section-photos .photo-inner-wrap {
  max-width: 892.8px;
  max-width: 55.8rem;
}
.main-top-box.section-photos .items-wrap {
  margin: 0 -14.4px;
  margin: 0 -0.9rem;
}
.main-top-box.section-photos .item-wrap {
  padding: 0 14.4px;
  padding: 0 0.9rem;
  margin: 0;
  width: 50%;
}
.main-top-box.section-photos .item-wrap.wrap-main {
  width: 100%;
}
.main-top-box.section-photos .item-wrap.wrap-main .elm-photo {
  border-radius: 0;
}
.main-top-box.section-photos .elm-photo {
  border-radius: 3.5rem;
  width: 100%;
  max-width: inherit;
}
.main-top-box.section-photos .h2-title,
.main-top-box.section-photos .h3-title {
  margin-bottom: 12px;
}
.main-top-box.section-photos ul,
.main-top-box.section-photos p {
  margin-bottom: 12px;
}
.main-top-box .text-red {
  color: #d10000;
}
.main-top-box .text-medium {
  font-weight: 500;
}
.main-top-box .h1-title + .h1-title,
.main-top-box .h2-title + .h1-title,
.main-top-box .h3-title + .h1-title,
.main-top-box .h1-title + .h2-title,
.main-top-box .h2-title + .h2-title,
.main-top-box .h3-title + .h2-title,
.main-top-box .h1-title + .h3-title,
.main-top-box .h2-title + .h3-title,
.main-top-box .h3-title + .h3-title {
  margin-top: 0;
}
.main-top-box .h1-title .elm-ico,
.main-top-box .h2-title .elm-ico,
.main-top-box .h3-title .elm-ico {
  width: 1.76em;
  height: 1.76em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3em 0 0;
}
.main-more-wrap {
  text-align: center;
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  margin: 51.2px 0 0 0;
  margin: 3.2rem 0 0 0;
}
.bg-gradient-after {
  position: relative;
}
.bg-gradient-after:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(210.33% 70.66% at 50% 50.07%, rgba(0, 95, 251, 0.2) 0%, rgba(6, 55, 165, 0) 100%);
}
.bg-dark {
  background-color: #151516;
  color: #fff;
}
.bg-dark .main-title-wrap,
.bg-dark .title-wrap {
  color: #fff;
}
.bg-dark .main-title-wrap .h1-title,
.bg-dark .title-wrap .h1-title,
.bg-dark .main-title-wrap .h2-title,
.bg-dark .title-wrap .h2-title,
.bg-dark .main-title-wrap .h3-title,
.bg-dark .title-wrap .h3-title,
.bg-dark .main-title-wrap .h4-title,
.bg-dark .title-wrap .h4-title,
.bg-dark .main-title-wrap .h5-title,
.bg-dark .title-wrap .h5-title,
.bg-dark .main-title-wrap .h6-title,
.bg-dark .title-wrap .h6-title,
.bg-dark .main-title-wrap .main-title,
.bg-dark .title-wrap .main-title,
.bg-dark .main-title-wrap .page-subtitle,
.bg-dark .title-wrap .page-subtitle,
.bg-dark .main-title-wrap h1,
.bg-dark .title-wrap h1,
.bg-dark .main-title-wrap h2,
.bg-dark .title-wrap h2,
.bg-dark .main-title-wrap h3,
.bg-dark .title-wrap h3,
.bg-dark .main-title-wrap h4,
.bg-dark .title-wrap h4,
.bg-dark .main-title-wrap h5,
.bg-dark .title-wrap h5,
.bg-dark .main-title-wrap h6,
.bg-dark .title-wrap h6 {
  color: inherit;
}
.bg-dark .info-inner-wrap .btn:not(:hover) {
  background-color: #DDE5ED;
  border-color: #DDE5ED;
  color: var(--clr-base-dark);
}
.bg-dark .main-buttons-wrap .btn-action-more {
  color: #fff;
}
.bg-dark .main-buttons-wrap .btn-action-more:before {
  filter: brightness(0) invert(1);
}
.section-bg-blue-gradient {
  background: linear-gradient(90deg, #001E3C 1.04%, #00376E 47.7%, #001E3C 98.08%);
  color: #fff;
}
.section-bg-blue-gradient * {
  color: #fff;
}
@media (max-width: 1199px) {
  .section-coins-box .item-wrap {
    width: 25%;
  }
  .section-crypto-tiles-box .item-wrap {
    width: 25%;
  }
}
@media (max-width: 1023px) {
  .main-section-plan-box.section-three-cols .item-wrap {
    width: 200px;
  }
  .main-section-plan-box.section-three-cols table .col02,
  .main-section-plan-box.section-three-cols table .col03,
  .main-section-plan-box.section-three-cols table .col04 {
    width: 186px;
  }
  .main-section-plan-box.section-three-cols .item-tile-plan .tile-title-sticker {
    top: 15px;
    right: 5px;
  }
  .main-section-plan-box.section-three-cols .item-tile-plan .tile-title,
  .main-section-plan-box.section-three-cols .item-tile-plan .tile-title.title-small {
    font-size: 15px;
    line-height: 24px;
  }
  .help-menu-box .btn-menu {
    font-size: 14px;
  }
  .section-coins-box .item-wrap {
    width: 33.33%;
  }
  .section-crypto-tiles-box .item-wrap {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .main-section-plan-box.section-three-cols table th:nth-child(4),
  .main-section-plan-box.section-three-cols table td:nth-child(4) {
    font-weight: bold;
  }
  .main-section-plan-box.section-three-cols:not(.ind-active) table th:nth-child(4),
  .main-section-plan-box.section-three-cols:not(.ind-active) table td:nth-child(4) {
    display: none;
  }
  .main-section-plan-box.section-three-cols.ind-active table th:nth-child(2),
  .main-section-plan-box.section-three-cols.ind-active table td:nth-child(2) {
    display: none;
  }
  .main-section-plan-box.section-three-cols table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
  }
  .main-section-plan-box.section-three-cols table .col2,
  .main-section-plan-box.section-three-cols table .col3,
  .main-section-plan-box.section-three-cols table .col4 {
    width: auto;
  }
  .main-section-plan-box.section-three-cols table .col01 {
    width: 200px;
  }
  .main-section-plan-box.section-three-cols table th,
  .main-section-plan-box.section-three-cols table td {
    width: 100%;
    min-width: 0;
  }
  .main-section-plan-box.section-three-cols .item-wrap {
    width: 100%;
  }
  .main-section-plan-box:not(.ind-active) .wrap-ind {
    display: none;
  }
  .main-section-plan-box:not(.standart-active) .wrap-standart {
    display: none;
  }
  .section-tarif-info-box .items-inner-wrap {
    padding: 15px;
    width: 50rem;
  }
  .section-tarif-info-box .items-wrap {
    margin: 0 -5px -10px -5px;
  }
  .section-tarif-info-box .item-wrap {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .section-terms-box .item-wrap {
    width: 50%;
  }
}
@media (max-width: 639px) {
  .help-menu-box .menu {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .help-menu-box .menu li {
    width: 33.33%;
    -ms-flex: 1;
        flex: 1;
    min-width: 149px;
  }
  .main-top-box .info-text-wrap {
    min-height: 0;
  }
  .main-top-box .title-wrap.max-560 {
    margin-left: auto;
    margin-right: auto;
  }
  .main-top-box.photo-full .photo-inner-wrap {
    width: 50rem;
    max-width: 100%;
  }
  .section-commited-box .item-wrap,
  .section-ag-tiles-box .item-wrap,
  .section-data-tiles-box .item-wrap {
    width: 50%;
  }
  .section-price-icons-box .inner-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .section-price-icons-box .info-inner-wrap {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    -ms-flex-order: 1;
        order: 1;
  }
  .section-price-icons-box .items-inner-wrap {
    width: 100%;
    padding: 0;
    -ms-flex-order: 2;
        order: 2;
    margin-top: 10rem;
  }
  .section-tarif-info-box {
    text-align: center;
  }
  .section-tarif-info-box .inner-wrap {
    display: block;
  }
  .section-tarif-info-box .items-inner-wrap {
    margin: 0 auto;
    max-width: 100%;
  }
  .section-tarif-info-box .info-inner-wrap {
    padding: 0;
    margin-bottom: 30px;
  }
  .section-coins-box .item-wrap {
    width: 50%;
  }
  .section-crypto-tiles-box .item-wrap {
    width: 50%;
  }
}
@media (max-width: 479px) {
  .main-section-plan-box.section-three-cols table .col01 {
    width: 100px;
  }
  .section-tarif-info-box .item-wrap {
    width: 100%;
  }
  .section-coins-box .item-wrap {
    width: 100%;
  }
  .section-crypto-tiles-box .item-wrap {
    width: 100%;
  }
  .section-terms-box .item-wrap {
    width: 100%;
  }
}
@media (min-width: 640px) {
  .main-top-box.section-reverse .inner-wrap {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
  .main-top-box.section-reverse .info-inner-wrap {
    padding-right: 0 !important;
    padding-left: 6.4rem;
  }
  .main-top-box.section-iban-interest .h3-title,
  .main-top-box.section-photos .h3-title,
  .main-top-box.section-payment-methods .h3-title,
  .main-top-box.section-iban-interest .h2-title,
  .main-top-box.section-photos .h2-title,
  .main-top-box.section-payment-methods .h2-title {
    margin-left: 0;
  }
  .main-top-box.section-iban-interest .info-inner-wrap,
  .main-top-box.section-photos .info-inner-wrap,
  .main-top-box.section-payment-methods .info-inner-wrap {
    padding-right: 4rem;
  }
  .main-top-box.section-payment-methods .info-inner-wrap {
    padding-right: 0;
  }
  .main-top-box.section-payment-methods .photo-inner-wrap .elm-photo {
    max-width: 56rem;
    margin: 0;
  }
  .main-top-box.section-photos .info-inner-wrap {
    max-width: calc(100% - 55.5rem);
  }
  .main-top-box.section-photos .photo-inner-wrap {
    width: 50%;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .main-top-box.section-photos .photo-inner-wrap {
    max-width: 45rem;
  }
  .main-top-box.section-photos .info-inner-wrap {
    max-width: calc(100% - 45rem);
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .main-top-box.photo-full .photo-inner-wrap {
    width: 45rem;
  }
  .main-top-box.photo-full .info-inner-wrap {
    max-width: calc(100% - 45rem);
  }
  .main-top-box.section-payment-methods .info-inner-wrap {
    max-width: calc(100% - 40rem);
  }
  .main-top-box.section-payment-methods .photo-inner-wrap {
    width: 50%;
    max-width: 40rem;
  }
}
@media (min-width: 1024px) {
  .main-top-box.screen-small.photo-full .info-inner-wrap {
    padding-right: 4rem;
  }
  .main-top-box.screen-small .info-inner-wrap {
    padding-right: 0;
    max-width: calc(100% - 48%);
  }
  .main-top-box.screen-small .photo-inner-wrap {
    width: 48%;
  }
  .main-top-box.screen-small .photo-inner-wrap .elm-screen-main {
    max-width: 28rem;
    margin: 0 auto;
  }
  .main-top-box.section-iban-interest .btn,
  .main-top-box.section-photos .btn,
  .main-top-box.section-payment-methods .btn {
    height: 48px;
    min-width: 220px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
  }
  .main-top-box.section-payment-methods .inner-wrap {
    min-height: 72rem;
  }
  .main-top-box.section-payment-methods .photo-inner-wrap {
    width: 56rem;
  }
  .main-top-box.section-payment-methods .btn.button-large {
    height: 56px;
    border-radius: 16px;
    font-size: 18px;
  }
  .main-top-box.section-iban-interest .photo-inner-wrap {
    width: 56rem;
    max-width: 100%;
  }
  .main-top-box.section-iban-interest .photo-inner-wrap .elm-photo {
    max-width: 56rem;
  }
  .main-top-box.section-iban-interest .info-inner-wrap {
    max-width: calc(100% - 56rem);
  }
  .section-crypto-tiles-box .main-more-wrap .btn {
    height: 56px;
    border-radius: 16px;
    font-size: 18px;
  }
  .main-more-wrap .btn {
    height: 48px;
    min-width: 220px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .main-top-box.section-payment-methods .info-inner-wrap {
    max-width: calc(100% - 45rem);
  }
  .main-top-box.section-payment-methods .photo-inner-wrap {
    width: 45rem;
    max-width: 45rem;
  }
}
@media (min-width: 1400px) {
  .section-crypto-tiles-box .items-outer-wrap {
    margin: 0 -50px;
  }
  .main-top-box.section-photos .inner-wrap {
    padding-left: calc(var(--paddingContainer) + 4rem);
    padding-right: calc(var(--paddingContainer) + 2rem);
  }
  .main-top-box.section-iban-interest .photo-inner-wrap {
    width: 62rem;
  }
  .main-top-box.section-iban-interest .info-inner-wrap {
    max-width: calc(100% - 62rem);
  }
  .main-top-box.section-payment-methods .photo-inner-wrap {
    width: 62rem;
    max-width: 62rem;
  }
  .main-top-box.section-payment-methods .info-inner-wrap {
    max-width: calc(100% - 62rem);
  }
}
/* end content styles */
