/* 

:root {
    --clr-base: #303031;
    --clr-base-dark: #000;
    --clr-title: #121214;
    --clr-att: #2169fc;
    --clr-att-second: #0029ff;
    --clr-light: #e4e4e;
    --main-padding: 12.8rem;
    --second-padding: 6.4rem;
    --main-radius: 1.6rem;
    --main-shadow: 3px 5px 24px rgba(45, 47, 64, .08);
    --main-shadow-hover: 4px 12px 24px rgba(0, 0, 0, .24), 0.5px 0.5px 0px rgba(0, 0, 0, .5);
    --min: 320px;
    --max: 1300px;
    --paddingContainer: 15px;
    font-size: 10px
}


*/
/* common classes */
:root {
	--medium-padding: 8rem;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-24 {
	margin-bottom: 2.4rem !important;
}
.mb-32 {
	margin-bottom: 3.2rem !important;
}
.mb-48 {
	margin-bottom: 4.8rem !important;
}
.mb-44 {
	margin-bottom: 4.4rem !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-24 {
	margin-top: 2.4rem !important;
}
.mt-32 {
	margin-top: 3.2rem !important;
}
.mt-48 {
	margin-top: 4.8rem !important;
}
.mt-44 {
	margin-top: 4.4rem !important;
}
.text-dark {
	color: var(--clr-base-dark);
}
.lh-15 {
	line-height: 1.5;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
.pb-mainPadding {
	padding-bottom: var(--main-padding) !important;
}
.pt-mainPadding {
	padding-top: var(--main-padding) !important;
}
.pb-secondPadding {
	padding-bottom: var(--second-padding) !important;
}
.pt-secondPadding {
	padding-top: var(--second-padding) !important;
}
.pb-mediumPadding {
	padding-bottom: var(--medium-padding) !important;
}
.pt-mediumPadding {
	padding-top: var(--medium-padding) !important;
}
.w-400 {
	font-weight: 400 !important;
}
.w-700 {
	font-weight: bold !important;
}
.w-600 {
	font-weight: 600 !important;;
}
.w-500 {
	font-weight: 500 !important;;
}
.max-560 {
	max-width: (560/24em);
}
/* end common classes */
/* header styles */
.wrap-1184 {
	max-width: 1184px !important;
	margin-left: auto;
	margin-right: auto;
}
.wrap-1117 {
	max-width: 1117px !important;
	margin-left: auto;
	margin-right: auto;
}
.inner-wrap.wrap-1184 {
	max-width: calc(1184px + var(--paddingContainer) + var(--paddingContainer)) !important;
}
.inner-wrap.wrap-1117 {
	max-width: calc(1117px + var(--paddingContainer) + var(--paddingContainer)) !important;
}
.header.header-new {
	.inner-wrap {
		max-width: 1300px;
	}
	.logo-wrap {
		width: 137px;
	}
	.action-wrap {
		.btn {
			padding: 0 20px;
			height: 40px;
			border-radius: 8px;
			font-size: 18px;
		}
	}
	.popup-menu-wrap {
		.menu {
			justify-content: center;
			position: static;
			&>li {
				.btn-submenu {
					padding-right: 40px;
					&.submenu-active {
						padding-right: 40px;
						background: #C9CBCE;
						color: #000;
						&:after {
							transform: rotate(180deg);;
						}
					}
					&:after {
						content: "";
						display: block;
						width: 24px;
						height: 24px;
						position: absolute;
						background: url(../img/icons/arrow-menu.svg) center no-repeat;
						filter: brightness(0) grayscale(1);;
						background-size: 100% auto;
						top: 50%;right: 20px;
						margin: -12px -12px 0 0;
						transition: all ease 0.2s;
					}
				}
			}
			li {
				position: static;
			}
		}
	}
}
.popup-menu-wrap {
	.menu-inner-wrap {
		margin: 0 auto;
		max-width: 1138px;
		display: flex;
		&:not(:hover) {
			.menu-att {
				background-color: #f8f8f8;
			}
		}
	}
	.menu-wrap {
		padding: 3.2rem 3.2rem 2.2rem 3.2rem;
		flex-shrink: 0;
		width: 27.6%;
		flex-shrink: 0;
		transition: all ease 0.2s;
		&:hover {
			background: #F8F8F8;
		}
	}
	.menu-main {
		width: 44.8%;
		.submenu {
			columns: 2;
			column-gap: 20px;
			li {
				page-break-inside: avoid;
				break-inside: avoid-column;
			}
		}
	}
	.btn-submenu {
		&.submenu-active {
			&~.submenu-inner-wrap {
				display: block;
			}
		}
	}
	.submenu-inner-wrap {
		animation: fadein ease 0.2s;
		display: none;
		position: absolute;
		top: 100%;left: 50%;
		width: 100dvw;
		margin-left: -50dvw;
		z-index: 100;
		background: #fff;
		.submenu {
			margin: 0;
			padding: 0;
			font-weight: 500;
			li {
				margin: 0;
				padding: 0;
				&:before {
					display: none;
				}
			}
			a {
				display: block;
				padding: 9px 0;
				color: #575759;
				font-size: 16px;
				line-height: 1.5;
				letter-spacing: -0.32px;
				white-space: normal;
				height: auto;
				&:hover, &.active {
					color: #0029FF;
					text-decoration: underline;
				}
			}
		}
	}
	.menu-title {
		display: block;
		font-size: 2.4rem;
		line-height: 1.2;
		color: #000;
		letter-spacing: -0.48px;
		margin-bottom: 14px;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.actions-wrap {
		display: none;
	}
	.btn-popup-close {
		z-index: 10;
		position: fixed;
		top: 0;right: 0;
		display: none;
	}
}
@media (max-width: 1023px) {
	.header.header-new {
		.action-wrap {
			display: none;
			&.popup-lang-wrap {
				display: block;
			}
		}
		.popup-menu-wrap {
			.js-btn-toggle.active+.js-popup-block {
				display: flex !important;
			}
			.popup-content-block {
				display: none;
				flex-direction: column;
				position: fixed;
				height: 100dvh;
				top: 0;
				left: 0;
				right: 0;
				border-radius: 0;
				background: #fff;
				width: 100%;
				padding: 0;
				box-shadow: none;
			}
			.menu {
				max-width: 100%;
				width: 100%;
				flex: 1;
				padding: 15px 0;
				overflow-y: auto;
				overflow-x: hidden;
				scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
		}
	}
	.header.header-new .popup-menu-wrap .menu > li .btn-submenu:after {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		margin: -2px 0 0 5px;
		display: inline-block;
		vertical-align: middle;
	}
	.header.header-new .popup-menu-wrap .menu > li .btn-submenu {
		padding-right: 10px;
	}
	.header.header-new .popup-menu-wrap .menu > li .btn-submenu.submenu-active {
		padding-right: 10px;
	}
	.popup-menu-wrap {
		.submenu-inner-wrap {
			position: static;
			background: none;
			width: 100%;
			margin: 0;
			background: none;
			padding: 0;
			text-align: left;
		}
		.menu {
			a {
				white-space: normal;
				height: auto;
				line-height: 1.1;
				padding: 10px 10px;
			}
		}
		.actions-wrap {
			display: block;
			padding-top: 15px;
			border-top: 1px solid #e0e0e0;
			margin: 0;
			width: 100%;
			flex: 0 0 auto;
			.action-wrap {
				display: block;
				padding: 0 10px 20px 10px;
				margin: 0 0 10px 0;
				&:last-child {
					margin-bottom: 0;
				}
				.btn, a {
					text-align: center;
					display: flex;
					width: 100%;
					margin: 0;
					font-size: 14px;
					justify-content: center;
					border-radius: 5px;
				}
			}
		}
		.btn-popup-close {
			display: block;
		}
	}
}
@media (max-width: 767px) {
	.popup-menu-wrap {
		.menu-title {
			font-size: 16px;
		}
	}
	.popup-menu-wrap .submenu-inner-wrap .submenu a {
		font-size: 14px;
		padding: 5px 0;
	}
}
@media (max-width: 639px) {
	.popup-menu-wrap {
		.menu-inner-wrap {
			display: block;
		}
		.menu-wrap {
			width: 100%;
			.submenu {
				columns: 3;
				column-gap: 20px;
			}
		}
	}
}
@media (max-width: 479px) {
	.popup-menu-wrap {
		.menu-wrap {
			.submenu {
				columns: 2;
				column-gap: 10px;
			}
		}
	}
}
@media (min-width: 1024px) {
	.header.header-new {
		.popup-menu-wrap {
			.menu {
				&>li {
					&>a {
						height: 40px;
						line-height: 40px;
						padding: 0 12px;
						border-radius: 8px;
						transition: all ease 0.2s;
					}
				}
			}
		}
	}
	.popup-menu-wrap .submenu-inner-wrap {
		box-shadow: 0px 30px 24px 0px rgba(0, 0, 0, 0.25);
	}
}
/* end header styles */
/* items styles 1111 */
.item-tile-plan {
	&.tile-second {
		padding: 12px 2.4rem;
		.tile-title-wrap {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.tile-title {
			padding-top: 0;
			font-weight: 500;
		}
		.tile-subtitle {
			padding-top: 0;
			margin-top: 10px;
			font-weight: 400;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.tile-price-att {
		display: inline;
		color: #6EEDFF;
		font-weight: bold;
		font-size: 1.5em;
	}
}
.item-tile-btc-icon-info {
	font-size: 2rem;
	line-height: 1.4;
	color: #303031;
	display: flex;
	align-items: flex-start;
	.tile-ico {
		width: 5.5rem;
		height: 5.2rem;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		padding-left: 2.4rem;
	}
	.tile-title {
		display: flex;
		align-items: center;
		min-height: 5.2rem;
		font-size: 3.2rem;
		line-height: (40/32);
		font-weight: bold;
		letter-spacing: -0.64px;
		color: var(--clr-base-dark);
		margin-bottom: 8px;
	}
}
.item-tile-commited-info {
	text-align: center;
	font-size: 2.4rem;
	line-height: 1.4;
	font-weight: 400;
	color: var(--clr-base-dark);
	max-width: (315/24em);
	margin: 0 auto;
	.tile-ico {
		margin: 0 auto 9px auto;
		height: 6.3rem;
		width: 100%;
	}
	.tile-title {
		font-weight: bold;
		line-height: 1.17;
		margin: 0 0 8px 0;
		color: #1D1D1F;
	}
}
.item-tile-data-info {
	display: block;
	position: relative;
	min-height: 100%;
	border-radius: 2.4rem;
	background: #DDE5ED;
	padding: 3.2rem 2.4rem;
	font-size: 2rem;
	line-height: 1.4;
	color: #151516;
	&.tile-center {
		text-align: center;
		background-color: #F0F2F6;
		padding: 4.8rem 3.2rem;
		.tile-ico {
			height: 5.2rem;
			margin-bottom: 8px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.tile-title {
		font-size: 1.2em;
		line-height: 1.2;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	.tile-ico {
		width: 8rem;height: 8rem;
		margin-bottom: 2.4rem;
	}
}
.item-tile-ag-info {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 10%;
	border-radius: 2.4rem;
	background: #F0F2F6;
	padding: 3.2rem 2.4rem;
	min-height: 100%;
	.tile-title {
		display: block;
		width: 100%;
		flex: 1;
		font-size: 2.4rem;
		line-height: (33/24);
		font-weight: bold;
		margin-bottom: 3.2rem;
		color: #151516;
	}
	.tile-photo {
		border-radius: 2rem;
		aspect-ratio: 257/193;
		flex-shrink: 0;
	}
}
.elm-zero {
	width: 17.6rem;
	aspect-ratio: 1;
	position: relative;
	overflow: hidden;
	z-index: 2;
	background: url(../img/icons/star.svg) center / 100% auto no-repeat;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 1.4rem;
	font-size: 4.4rem;
	font-weight: bold;
	color: var(--clr-base-dark);
	transform: rotate(10deg);
	line-height: 1;
}
.item-tile-price-icon-info {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: var(--clr-base-dark);
	text-align: center;
	.tile-ico {
		width: 9.6rem;
		height: 9.6rem;
		border-radius: 50%;
		background: #3176DE;
		margin: 0 auto;
		flex-shrink: 0;
		img, svg {
			width: 66.66%;
			filter: brightness(0) invert(1);
		}
	}
	.tile-title {
		display: block;
		margin: 12px 0 0 0;
	}
}
.item-tile-tarif-icon-info {
	display: flex;
	align-items: center;
	min-height: 100%;
	font-size: 2.4rem;
	line-height: (28/24);
	font-weight: bold;
	text-align: left;
	padding: 24px 1rem 24px 1.6rem;
	border-radius: 12px;
	border: 1px solid #DDDFE3;
	background: #fff;
	.tile-title {
		display: block;
		padding-left: 1.6rem;;
	}
	.tile-ico {
		width: 5.6rem;
		height: 5.6rem;
		border-radius: 50%;
		background: #3176DE;
		flex-shrink: 0;
		img, svg {
			filter: brightness(0) invert(1);
			max-width: 67%;
		}
	}
}
.item-tile-crypto-info {
	display: block;
	position: relative;
	min-height: 100%;
	padding: 3.2rem 2.4rem;
	text-align: center;
	border-radius: 2.4rem;
	background: #F3F5F8;
	color: #000;
	&:hover {
		color: #000;
	}
	.tile-ico {
		width: 9.6rem;
		height: 9.6rem;
		border-radius: 50%;
		background: #2169FC;
		margin: 0 auto 3.2rem auto;
	}
	.tile-title {
		display: block;
		margin: 0;
		font-size: 2.4rem;
		line-height: 1.5;
		font-weight: 400;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
}
.item-tile-term-inner {
	display: block;
	min-height: 100%;
	border-radius: 16px;
	background: #303031;
	padding: 2.4rem;
	font-size: 2rem;
	line-height: 1.4;
	color: rgba(255, 255, 255, 0.70);
	position: relative;
	overflow: hidden;
	.tile-title {
		display: block;
		font-size: (24/20em);
		line-height: (32/24);
		color: #fff;
		margin: 0 0 11px 0;
		font-weight: bold;
	}
	.tile-ico {
		width: 48px;height: 48px;
		margin-bottom: 2.4rem;
	}
}
.item-tile-coin-select {
	display: block;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	letter-spacing: -0.32px;
	text-align: left;
	border-radius: 16px;
	background: #fff;
	padding: 2.4rem 16px;
	.tile-title-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 2.4rem;
		a {
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-title {
		display: block;
		font-size: 2rem;
		line-height: 1.2;
		font-weight: bold;
		letter-spacing: -0.4px;
	}
	.tile-subtitle {
		display: block;
		margin-top: 4px;
		color: #575759;
		letter-spacing: -0.32px;
	}
	.tile-ico {
		width: 48px;height: 48px;
		flex-shrink: 0;
		border-radius: 50%;
	}
	.tile-title-inner {
		flex: 1;
		padding: 0 0 0 12px;
	}
}
.tile-select-dropdown-wrap {
	display: block;
	position: relative;
	border: 1px solid #DDDFE3;
	line-height: 1;
	overflow: hidden;
	border-radius: 8px;
	background: #fff;
	.tile-content-block {
		display: none;
		padding: 4px 0;
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;left: 12px;right: 12px;
			height: 1px;
			background: #DDDFE3;
		}
	}
	.tile-button-menu {
		display: flex;
		align-items: center;
		padding: 4px 12px;
		line-height: 20px;
		font-size: 14px;
		letter-spacing: -0.28px;
		color: #000;
		cursor: pointer;
		&:hover {
			color: #000;
		}
	}
	.tile-button-title {
		flex: 1;
		padding: 0 10px 0 0;
	}
	.tile-button-info {
		flex-shrink: 0;
		font-weight: bold;
	}
	.tile-button-select {
		display: block;
		line-height: 48px;
		height: 48px;
		width: 100%;
		padding: 0 30px 0 12px;
		font-size: 16px;
		font-weight: bold;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;
		color: #000;
		cursor: pointer;
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-menu.svg) center no-repeat;
			background-size: 20px auto;
			top: 50%;right: 20px;
			margin: -12px -12px 0 0;
			opacity: 0.5;
			transition: all ease 0.2s;
		}
		&.active {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	.tile-info-att {
		color: #00BB31;
	}
	.menu {
		margin: 0;
		li {
			margin: 0;
			padding: 0;
			&:before {
				display: none;
			}
		}
	}
}
.list-marker {
	li {
		padding-left: (32/24em);
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 4px;height: 4px;
			border-radius: 50%;
			background: currentColor;
			position: absolute;
			top: 0.75em;
			left: (16/24em);
			margin-top: -2px;
			margin-left: -2px;
		}
	}
}
@media (max-width: 1199px) {
	.item-tile-term-inner {
		font-size: 1.8rem;
	}
}
@media (max-width: 1023px) {
	.item-tile-data-info {
		padding: 2.4rem 15px;
		&.tile-center {
			padding: 2.4rem 15px;
		}
	}
	.item-tile-ag-info {
		padding: 2.4rem 0;
		.tile-title {
			font-size: 2rem;
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
		.tile-photo {
			width: calc(100% - 0px);
			margin-left: auto;
			margin-right: auto;
		}
	}
}
@media (max-width: 639px) {
	.item-tile-btc-icon-info {
		display: block;
		text-align: center;
		padding-bottom: 10px;
		.tile-ico {
			margin: 0 auto 12px auto;
		}
		.tile-info-wrap {
			padding-left: 0;
			text-align: center;
		}
		.tile-title {
			text-align: center;
			display: block;
			min-height: 0;
		}
	}
}
@media (max-width: 479px) {
}
/* end items styles */
/* content styles 2222 */
.main-questions-box {
	&.bg-dark {
		color: #fff;
		.item-tile-question {
			color: #fff;
			.btn-popup {
				color: #fff;
				&:before {
					filter: brightness(0) invert(1);
				}
			}
		}
	}
}
.main-apps-info-box {
	&.bg-dark {
		.box-inner-wrap {
			background-color: #313133;
		}
		.action-title {
			color: #fff;
		}
		.action-qr {
			&:before, &:after {
				background-color: #DDDFE3;
			}
		}
		.btn-action-qr {
			background-color: transparent;
		}
		.btn-action-more {
			text-align: left;
		}
	}
}
.help-menu-box {
	background: #000 url(../img/help.jpg) center /cover no-repeat;
	text-align: center;
	margin: 0;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	.top-inner-wrap {
		padding-bottom: 9.6rem;
		width: 100%;
		flex-shrink: 0;
	}
	.bottom-inner-wrap {
		display: block;
		width: 100%;
		flex-shrink: 0;
	}
	.inner-wrap {
		width: 100%;
		max-width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 9.6rem;
		padding-bottom: 9.6rem;
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -0.6rem;
		li {
			padding: 0 0.6rem;
			margin-bottom: 1.2rem;
			width: 17.8rem;
			flex-shrink: 0;
		}
	}
	.btn-menu {
		display: block;
		position: relative;
		text-align: left;
		min-height: 100%;
		transition: all ease 0.2s;
		border-radius: 12px;
		background: #F3F5F8;
		padding: 2rem;
		font-size: 1.6rem;
		line-height: (20/16);
		font-weight: bold;
		color: var(--clr-base-dark);
		letter-spacing: -0.32px;
		&:hover {
			color: var(--clr-att);
		}
		.button-ico {
			width: 4.8rem;
			height: 4.8rem;
			margin-bottom: 2rem;
			border-radius: 50%;
			background: rgba(0, 71, 187, 0.10);
			img, svg {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	.info-title {
		display: block;
		font-size: 2.4rem;
		line-height: 1.5;
		font-weight: 400;
		color: #fff;
	}
	.main-actions-qr-wrap {
		justify-content: center;
		.btn-action-more {
			color: #fff;
			&:before {
				filter: brightness(0) invert(1);
			}
		}
	}
}
.main-section-plan-box {
	&.section-three-cols {
		.item-wrap {
			width: 230px;
		}
		.item-tile-plan .tile-action-wrap .btn {
			width: 100%;
			padding: 0 15px;
			min-width: 0;
		}
		.item-tile-plan {
			.tile-title.title-small {
				font-size: 1.5em;
			}
			.tile-price {
				font-size: 2.8rem;
				margin-top: 4.4rem;
				.price-unit {
					font-size: (18/28em);
				}
				.title-gradient {
					font-size: 1em;
				}
			}
			.tile-action-wrap {
				margin-top: 10px;
			}
		}
		table {
			border-spacing: 16px 0;
			border-collapse: separate;
			table-layout: fixed;
			width: calc(100% + 16px);
			margin-left: -8px;
			.col02, .col03, .col04 {
				width: 214px;
			}
			th, td, th:last-child, td:last-child {
				background: none;
				padding: 1.6rem;
				height: 3.2rem;
				font-size: 1.8rem;
				line-height: (24/18);
				width: auto;
				min-width: 0;
			}
			th, td {
				&:first-child {
					width: auto;
					min-width: 0;
				}
			}
			.btn {
				padding: 0 15px;
				width: 100%;
				min-width: 0;
				margin: 10px 0;
			}
		}
	}
	table {
		.td-att {
			background-color: #f7f8ff !important;
			font-weight: 600;
		}
	}
	.main-title-wrap {
		&>*:last-child {
			margin-bottom: 0;
		}
	}
	&.bg-dark {
		color: #fff;
		.tabs-inner-wrap {
			a {
				color: #fff;
				opacity: 0.7;
				&.active, &:hover {
					opacity: 1;
					color: #fff;
				}
			}
		}
		.tbl-inner-wrap {
			background-color: #313133;
		}
		.tbl-outer-wrap {
			border-color: #313133;
			background-color: #313133;
			table {
				th, td {
					color: inherit;
					border-color: #575759;
					background-color: transparent;
				}
				tr {
					&:last-child {
						th, td {
							&:last-child {
								background-color: transparent;
							}
						}
					}
				}
			}
		}
		.more-wrap {
			.btn.button-border {
				&:not(:hover) {
					border-color: #fff;
					color: #fff;
				}
			}
		}
		.item-tile-plan {
			background: #313133;
			border-color: #313133;
			color: inherit;
			.tile-title, .tile-subtitle {
				color: inherit;
			}
		}
	}
}
.section-commited-box {
	.items-wrap {
		margin: 0 -1.2rem -7rem -1.2rem;
	}
	.item-wrap {
		padding: 0 1.2rem;
		margin-bottom: 7rem;
		width: 33.33%;
	}
	.main-action-wrap {
		text-align: center;
	}
	.main-title-wrap {
		font-weight: 400;
		color: var(--clr-base-dark);
	}
	.btn.button-large {
		font-size: 16px;
		font-weight: 400;
		width: 32rem;
	}
}
.section-ag-tiles-box, .section-data-tiles-box {
	.main-actions-qr-wrap {
		text-align: center;
		justify-content: center;
		margin-left: -16px;
		margin-right: 0;
		.action-button {
			margin-right: 0;
		}
	}
	.items-wrap {
		margin: 0 -8px -16px -8px;
	}
	.item-wrap {
		padding: 0 8px;
		margin-bottom: 16px;
		width: 25%;
	}
	.main-action-wrap {
		text-align: center;
	}
	.btn.button-large {
		font-size: 16px;
		font-weight: 400;
		width: 32rem;
	}
}
.section-info-text-box {
	text-align: center;
	.btn.button-large {
		font-size: 16px;
		font-weight: 400;
		width: 32rem;
	}
	.text-body {
		font-weight: 400;
	}
	p {
		//max-width: (900/24em);
		margin-left: auto;
		margin-right: auto;
	}
}
.section-price-icons-box {
	.inner-wrap {
		display: flex;
		align-items: center;
	}
	.info-inner-wrap {
		flex: 1;
		padding-left: 3.2rem;
	}
	.items-inner-wrap {
		width: 50%;
		padding: 0 3.2rem 0 0;
		flex-shrink: 0;
	}
	.items-outer-wrap {
		background: #DDE5ED;
		border-radius: 3.2rem;
		padding: 9.2rem 4rem 5.6rem 4rem;
		position: relative;
	}
	.items-wrap {
		justify-content: center;
		margin: 0 -1.2rem -3rem -1.2rem;
	}
	.item-wrap {
		width: 12rem;
		padding: 0 1.2rem;
		margin-bottom: 3rem;
	}
	.elm-zero {
		position: absolute;
		top: -10rem;left: 8rem;
	}
	.btn.button-large {
		font-size: 16px;
		font-weight: 400;
	}
}
.section-tarif-info-box {
	.inner-wrap {
		display: flex;	
		align-items: center;
	}
	.info-inner-wrap {
		flex: 1;
		padding: 0 4rem 0 0;
	}
	.items-inner-wrap {
		width: 56rem;
		flex-shrink: 0;
		border-radius: 3.2rem;
		padding: 5.5rem 2.6rem;
		background: #DDE5ED;
		&.bg-clear {
			background: none;
			.item-tile-tarif-icon-info {
				color: #fff;
				background: linear-gradient(108deg, #111584 0%, #8178EB 100%);
				.tile-ico {
					background: #fff;
					img, svg {
						filter: none;
					}
				}
			}
		}
	}
	.items-wrap {
		margin: 0 -1.2rem -3rem -1.2rem;
		align-items: center;
	}
	.item-wrap {
		padding: 0 1.2rem;
		margin-bottom: 3rem;
		width: 50%;
		.elm-photo {
			max-width: 190px;
			margin: 0 auto;
		}
	}
	.btn.button-large {
		font-size: 16px;
		font-weight: 400;
	}
}
.section-crypto-tiles-box,
.section-terms-box,
.section-coins-box {
	.inner-wrap {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	.main-title-wrap {
		margin-bottom: 3.2rem;
		font-size: 2.4rem;
		font-weight: 500;
		.h3-title {
			margin-bottom: 3.2rem;
		}
	}
}
.section-crypto-tiles-box {
	.items-wrap {
		margin: 0 -4px -8px -4px;
	}
	.item-wrap {
		padding: 0 4px;
		margin-bottom: 8px;
		width: 16.66%;
	}
	.main-more-wrap {
		margin-top: 4.8rem;
	}
	.main-title-wrap {
		margin-bottom: 4.8rem;
	}
}
.section-terms-box {
	.main-title-wrap {
		margin-bottom: 4.8rem;
		.h4-title {
			margin-bottom: 4.8rem;
			line-height: (64/48);
		}
	}
	.main-buttons-wrap {
		margin-top: 4.8rem;
	}
	.items-wrap {
		margin: 0 -8px -16px -8px;
	}
	.item-wrap {
		width: 25%;
		padding: 0 8px;
		margin-bottom: 16px;
	}
}
.section-coins-box {
	color: #000;
	.main-title-wrap {
		color: #000;
	}
	.items-wrap {
		margin: 0 -4px -8px -4px;;
	}
	.item-wrap {
		width: 16.66%;
		margin-bottom: 8px;
		padding: 0 4px;
	}
}
.main-top-box {
	.info-inner-wrap {
		.items-wrap {
			margin: 0;
		}
		.item-wrap {
			margin-bottom: 2rem;
			padding: 0;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.inner-text-light {
		color: #575759;
		font-weight: 500;
	}

	.info-text-wrap {
		display: block;
		position: relative;
		border-radius: 3.2rem;
		line-height: 1.5;
		color: #fff;
		background: linear-gradient(108deg, #111584 0%, #8178EB 100%);
		padding: 4.8rem;
		min-height: 56rem;
		.h1-title, .h2-title, .h3-title {
			color: inherit;
			margin-bottom: 3.2rem;

		}
		.inner-text-green {
			color: #C8F808;
			a {
				color: inherit;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	&.section-iban-interest, &.section-photos, &.section-payment-methods {
		line-height: (36/24);
		color: #000;
		.inner-wrap {
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
		.photo-inner-wrap {
			margin: 0 auto;
			width: 100%;
			max-width: 300px;
		}
		.h3-title, .h2-title {
			max-width: (625/56em);
			margin-left: auto;
			margin-right: auto;
			color: inherit;
		}
		p, .h3-title, ul, .h2-title, h2, h3 {
			margin-bottom: 2.4rem;
			color: inherit;
		}
		.title-wrap {
			&:last-child {
				margin-bottom: 0;
			}
		}
		li {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.section-payment-methods {
		color: #fff;
		.btn.button-pay {
			height: 5.2rem;
			border-radius: 16px;
			padding: 0 12px;
			background: #FFC72C;
			border: none;
			font-size: 2rem;
			font-weight: 500;
			color: #000;
			min-width: 0;
			margin-right: 4px;
			margin-bottom: 4px;
			&:hover {
				color: #000;
				background: #ffe08b;
			}
		}
		.h3-title, .h2-title {
			max-width: (560/56em);
		}
		p {
			margin-bottom: 12px;
		}
		.photo-inner-wrap {
			max-width: 56rem;
		}
		.btn.button-large {
			margin-top: 12px;
		}
	}
	&.section-photos {
		.photo-inner-wrap {
			max-width: 55.8rem;
		}
		.items-wrap {
			margin: 0 -0.9rem;
		}
		.item-wrap {
			padding: 0 0.9rem;
			margin: 0;
			width: 50%;
			&.wrap-main {
				width: 100%;
				.elm-photo {
					border-radius: 0;
				}
			}
		}
		.elm-photo {
			border-radius: 3.5rem;
			width: 100%;
			max-width: inherit;
		}
		.h2-title, .h3-title {
			margin-bottom: 12px;
		}
		ul, p {
			margin-bottom: 12px;
		}
	}
	.text-red {
		color: #d10000;
	}
	.text-medium {
		font-weight: 500;
	}
	.h1-title, .h2-title, .h3-title {
		&+.h1-title, &+.h2-title, &+.h3-title {
			margin-top: 0;
		}
		.elm-ico {
			width: 1.76em;
			height: 1.76em;
			display: inline-block;
			vertical-align: middle;
			margin: 0 0.3em 0 0;
		}
	}
}
.main-more-wrap {
	text-align: center;
	font-size: 2.4rem;
	line-height: 1.5;
	font-weight: 500;
	margin: 3.2rem 0 0 0;
}
.bg-gradient-after {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: radial-gradient(210.33% 70.66% at 50% 50.07%, rgba(0, 95, 251, 0.20) 0%, rgba(6, 55, 165, 0.00) 100%);
	}
}
.bg-dark {
	background-color: #151516;
	color: #fff;
	.main-title-wrap, .title-wrap {
		color: #fff;
		.h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title, .main-title, .page-subtitle, h1, h2, h3, h4, h5, h6 {
			color: inherit;
		}
	}
	.info-inner-wrap {
		.btn {
			&:not(:hover) {
				background-color: #DDE5ED;
				border-color: #DDE5ED;
				color: var(--clr-base-dark);
			}
		}
	}
	.main-buttons-wrap {
		.btn-action-more {
			color: #fff;
			&:before {
				filter: brightness(0) invert(1);
			}
		}
	}
}
.section-bg-blue-gradient {
	background: linear-gradient(90deg, #001E3C 1.04%, #00376E 47.7%, #001E3C 98.08%);
	color: #fff;
	* {
		color: #fff;
	}
}
@media (max-width: 1199px) {
	.section-coins-box .item-wrap {
		width: 25%;
	}
	.section-crypto-tiles-box .item-wrap {
		width: 25%;
	}
}
@media (max-width: 1023px) {
	.main-section-plan-box.section-three-cols .item-wrap {
		width: 200px;
	}
	.main-section-plan-box.section-three-cols table .col02, .main-section-plan-box.section-three-cols table .col03, .main-section-plan-box.section-three-cols table .col04 {
		width: 186px;
	}
	.main-section-plan-box.section-three-cols .item-tile-plan .tile-title-sticker {
		top: 15px;right: 5px;
	}
	.main-section-plan-box.section-three-cols .item-tile-plan .tile-title,
	.main-section-plan-box.section-three-cols .item-tile-plan .tile-title.title-small {
		font-size: 15px;
		line-height: 24px;
		
	}
	.help-menu-box .btn-menu {
		font-size: 14px;
	}
	.section-coins-box .item-wrap {
		width: 33.33%;
	}
	.section-crypto-tiles-box .item-wrap {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.main-section-plan-box.section-three-cols {
		table {
			th, td {
				&:nth-child(4) {
					font-weight: bold;
				}
			}
		}
	}
	.main-section-plan-box.section-three-cols:not(.ind-active) {
		table {
			th, td {
				&:nth-child(4) {
					display: none;
				}
			}
		}
	}
	.main-section-plan-box.section-three-cols.ind-active table th:nth-child(2), .main-section-plan-box.section-three-cols.ind-active table td:nth-child(2) {
		display: none;
	}
	.main-section-plan-box.section-three-cols {
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			margin: 0;
			.col2, .col3, .col4 {
				width: auto;
			}
			.col01 {
				width: 200px;
			}
			th, td {
				width: 100%;
				min-width: 0;
			}
		}
	}
	.main-section-plan-box.section-three-cols {
		.item-wrap {
			width: 100%;
		}
	}
	.main-section-plan-box:not(.ind-active) .wrap-ind {
		display: none;
	}
	.main-section-plan-box:not(.standart-active) .wrap-standart {
		display: none;
	}
	.section-tarif-info-box {
		.items-inner-wrap {
			padding: 15px;
			width: 50rem;
		}
		.items-wrap {
			margin: 0 -5px -10px -5px;
		}
		.item-wrap {
			padding: 0 5px;
			margin-bottom: 10px;
		}
	}
	.section-terms-box {
		.item-wrap {
			width: 50%;
		}
	}
}
@media (max-width: 639px) {
	.help-menu-box {
		.menu {
			justify-content: flex-start;
			li {
				width: 33.33%;
				flex: 1;
				min-width: 149px;
			}
		}
	}
	.main-top-box {
		.info-text-wrap  {
			min-height: 0;
		}
		.title-wrap.max-560 {
			margin-left: auto;
			margin-right: auto;
		}
		&.photo-full {
			.photo-inner-wrap {
				width: 50rem;
				max-width: 100%;
			}
			.elm-photo {

			}
		}
	}
	.section-commited-box,
	.section-ag-tiles-box,
	.section-data-tiles-box {
		.item-wrap {
			width: 50%;
		}
	}
	.section-price-icons-box {
		.inner-wrap {
			flex-direction: column;
		}
		.info-inner-wrap {
			flex: 0 0 auto;
			padding: 0;
			margin-bottom: 30px;
			text-align: center;
			order: 1;;
		}
		.items-inner-wrap {
			width: 100%;
			padding: 0;
			order: 2;;
			margin-top: 10rem;
		}
	}
	.section-tarif-info-box {
		text-align: center;
		.inner-wrap {
			display: block;
		}
		.items-inner-wrap {
			margin: 0 auto;
			max-width: 100%;
		}
		.info-inner-wrap {
			padding: 0;
			margin-bottom: 30px;
		}
	}
	.section-coins-box .item-wrap {
		width: 50%;
	}
	.section-crypto-tiles-box .item-wrap {
		width: 50%;
	}
}
@media (max-width: 479px) {
	.main-section-plan-box.section-three-cols {
		table {
			.col01 {
				width: 100px;
			}
		}
	}
	.section-tarif-info-box {
		.item-wrap {
			width: 100%;
		}
	}
	.section-coins-box .item-wrap {
		width: 100%;
	}
	.section-crypto-tiles-box .item-wrap {
		width: 100%;
	}
	.section-terms-box {
		.item-wrap {
			width: 100%;
		}
	}
}
@media (min-width: 640px) {
	
	.main-top-box {
		&.section-reverse {
			.inner-wrap {
				flex-direction: row-reverse;
			}
			.info-inner-wrap {
				padding-right: 0 !important;
				padding-left: 6.4rem;
			}
		}
		&.section-iban-interest, &.section-photos, &.section-payment-methods {
			.h3-title, .h2-title {
				margin-left: 0;
			}
			.info-inner-wrap {
				padding-right: 4rem;
			}
		}
		&.section-payment-methods {
			.info-inner-wrap {
				padding-right: 0;
			}
			.photo-inner-wrap {
				.elm-photo {
					max-width: 56rem;
					margin: 0;
				}
			}
		}
		&.section-photos {
			.info-inner-wrap {
				max-width: calc(100% - 55.5rem);
			}
			.photo-inner-wrap {
				width: 50%;
			}
		}
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.main-top-box.section-photos .photo-inner-wrap {
		max-width: 45rem;
	}
	.main-top-box.section-photos .info-inner-wrap {
		max-width: calc(100% - 45rem);
	}
}
@media (min-width: 640px) and (max-width: 1023px) {
	.main-top-box {
		&.photo-full {
			.photo-inner-wrap {
				width: 45rem;
			}
			.info-inner-wrap {
				max-width: calc(100% - 45rem);
			}
		}
	}
	.main-top-box {
		&.section-payment-methods {
			.info-inner-wrap {
				max-width: calc(100% - 40rem);
			}
			.photo-inner-wrap {
				width: 50%;
				max-width: 40rem;
			}
		}
	}
}
@media (min-width: 1024px) {
	.main-top-box {
		&.screen-small {
			&.photo-full {
				.info-inner-wrap {
					padding-right: 4rem;
				}
			}
			.info-inner-wrap {
				padding-right: 0;
				max-width: calc(100% - 48%);
			}
			.photo-inner-wrap {
				width: 48%;
				.elm-screen-main {
					max-width: 28rem;
					margin: 0 auto;
				}
			}
		}
		&.section-iban-interest, &.section-photos, &.section-payment-methods {
			.btn {
				height: 48px;
				min-width: 220px;
				font-size: 16px;
				font-weight: 400;
				border-radius: 12px;
			}
		}
		&.section-payment-methods {
			.inner-wrap {
				min-height: 72rem;
			}
			.photo-inner-wrap {
				width: 56rem;
			}
			.btn.button-large {
				height: 56px;
				border-radius: 16px;
				font-size: 18px;
			}
		}
		&.section-iban-interest {
			.photo-inner-wrap {
				width: 56rem;
				max-width: 100%;
				.elm-photo {
					max-width: 56rem;
				}
			}
			.info-inner-wrap {
				max-width: calc(100% - 56rem);
			}
			
		}
	}
	.section-crypto-tiles-box {
		.main-more-wrap {
			.btn {
				height: 56px;
				border-radius: 16px;
				font-size: 18px;
			}
		}
	}
	.main-more-wrap {
		.btn {
			height: 48px;
			min-width: 220px;
			font-size: 16px;
			font-weight: 400;
			border-radius: 12px;
		}
	}
}
@media (min-width: 1024px) and (max-width: 1139px) {
	.main-top-box {
		&.section-payment-methods {
			.info-inner-wrap {
				max-width: calc(100% - 45rem);
			}
			.photo-inner-wrap {
				width: 45rem;
				max-width: 45rem;
			}
		}
	}
}
@media (min-width: 1200px) {
	.main-top-box {
		&.screen-small {
			.elm-screen-main {
			}
		}
	}
}
@media (min-width: 1400px) {
	.section-crypto-tiles-box {
		.items-outer-wrap {
			margin: 0 -50px;
		}
	}
	.main-top-box {
		&.section-photos {
			.inner-wrap {
				padding-left: calc(var(--paddingContainer) + 4rem);
				padding-right: calc(var(--paddingContainer) + 2rem);
			}
		}
		&.section-iban-interest {
			.photo-inner-wrap {
				width: 62rem;
			}
			.info-inner-wrap {
				max-width: calc(100% - 62rem);
			}
		}
		&.section-payment-methods {
			.photo-inner-wrap {
				width: 62rem;
				max-width: 62rem;
			}
			.info-inner-wrap {
				max-width: calc(100% - 62rem);
			}
		}
	}
}
/* end content styles */